<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.goodrudi.coffeeorder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/deitelorange"
        android:label="@string/app_name"
        android:roundIcon="@drawable/deitelorange"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeOrder">
        <activity
            android:name=".SendOrderActivity"
            android:exported="true" />
        <activity
            android:name=".CreateOrderActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>